<% provide(:title, "Contact")%>
<h1 class="page-title">CS 232 Contact</h1>
<section class="main">
  <dl>
    <dt>Paul Kassianik</dt>
      <dd><a href="email:pkassian@mail.ccsf.edu">pkassian@mail.ccsf.edu</a></dd>
    <dt>Salmon</dt>
      <dd><a href="email:salmon@ocean.com">salmon@ocean.com</a></dd>
  </dl>
</section>
